<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net" />
    
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>

  <connectionStrings>
    <!--<add name="database:jws" connectionString="Server=localhost;Database=jws;Trusted_Connection=True;" />-->
    <add name="sql:default" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=E:\Projects\ClientImport\ClientImport\bin\ClientData.mdf;Integrated Security=True;Connect Timeout=30" providerName="System.Data.SqlClient" />
    <add name="sql:EntityInfo" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=E:\Projects\Databases\ClientImport_EntityInfo.mdf;Integrated Security=True;Connect Timeout=30" providerName="System.Data.SqlClient" />
    <add name="database:jws" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=E:\Projects\Databases\jws.mdf;Integrated Security=True;Connect Timeout=30" providerName="System.Data.SqlClient" />
    <!--<add name="database:jws" connectionString="Server=sqldev;Database=FHJEastern;Trusted_Connection=True;" />-->
    
  </connectionStrings>
  <log4net>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="LogFileAppender" />
    </root>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="log-file.txt" />
      <param name="AppendToFile" value="false" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
  </log4net>
  
  <appSettings>
    <add key="archive_source_files" value="false" />
    <add key="suppress_email_messages" value="false" />
    <add key="smtp:server" value="smtp.gmail.com" />
    <add key="smtp:userid" value="Craigslist@bdarley.net" />
    <add key="smtp:password" value="t@ssN0va" />
    <add key="smtp:from" value="dnr@bdarley.net" />
    <add key="smtp:to" value="bdarley@bdarley.net" />
    <add key="smtp:port" value="587" />
    <!--<add key="smtp:server" value="Mail2" />
    <add key="smtp:userid" value="tsalert" />
    <add key="smtp:password" value="UX9HZumL" />
    <add key="smtp:from" value="dnr@JohnsEastern.com" />
    <add key="smtp:to" value="bdarley@bdarley.net" />-->
    <add key="file-company-number:baptistHealth" value="000003" />
    <add key="file-company-number:pinellas" value="000043" />

    <add key="file-destination-base-path" value="E:\Temp\Export" />
    <add key="file-source-base-path" value="E:\Temp\Client Import" />
    <add key="file-source:baptistHealth" value="BaptistHealthJax" />
    
    <add key="file-extension:baptistHealth" value="txt" />
    
    <add key="file-enabled:baptistHealth" value="true" />
    
    <add key="file-source:boca" value="City of Boca Raton" />
    <!--<add key="file-extension:boca" value="xlsx" />-->
    <add key="file-extension:boca" value="txt" />
    <add key="file-company-number:boca" value="000004" />
    <add key="file-enabled:boca" value="true" />
    
    <add key="file-source:cityOfMelbourne" value="City of Melbourne" />
    <add key="file-extension:cityOfMelbourne" value="csv" />
    <add key="file-company-name:cityOfMelbourne" value="City of Melbourne" />
    <add key="file-company-number:cityOfMelbourne" value="000069" />
    <add key="file-enabled:cityOfMelbourne" value="true" />
    <add key="file-source:leeCounty" value="LeeCountySB" />
    <add key="file-extension:leeCounty" value="txt" />
    <add key="file-company-name:leeCounty" value="Lee County School Board" />
    <add key="file-company-number:leeCounty" value="000026" />
    <add key="file-enabled:leeCounty" value="true" />
    <add key="file-source:miamiJewish" value="Miami Jewish" />
    <add key="file-extension:miamiJewish" value="xlsx" />
    <add key="file-company-name:miamiJewish" value="Miami Jewish" />
    <add key="file-company-number:miamiJewish" value="000034" />
    <add key="file-enabled:miamiJewish" value="true" />
    <add key="file-source:monroeCountySchoolBoard" value="Monroe County School Board" />
    <add key="file-extension:monroeCountySchoolBoard" value="xlsx" />
    <add key="file-company-name:monroeCountySchoolBoard" value="Monroe County School Board" />
    <add key="file-company-number:monroeCountySchoolBoard" value="000080" />
    <add key="file-enabled:monroeCountySchoolBoard" value="true" />
    <add key="file-source:nefec" value="NEFEC - Columbia Schools" />
    <add key="file-extension:nefec" value="xlsx" />
    <add key="file-company-name:nefec" value="NEFEC" />
    <add key="file-company-number:nefec" value="000036" />
    <add key="file-enabled:nefec" value="true" />
    <add key="file-source:ocbocc" value="OCBOCC" />
    <add key="file-extension:ocbocc" value="xls" />
    <add key="file-company-name:ocbocc" value="OCBOCC" />
    <add key="file-company-number:ocbocc" value="433328" />
    <add key="file-enabled:ocbocc" value="true" />
    <add key="file-source:osceola" value="Osceola" />
    <add key="file-extension:osceola" value="xls" />
    <add key="file-company-name:osceola" value="Osceola" />
    <add key="file-company-number:osceola" value="000039" />
    <add key="file-enabled:osceola" value="true" />
    <add key="file-source:pinellas" value="Pinellas" />
    <add key="file-extension:pinellas" value="txt" />
    <add key="file-company-name:pinellas" value="Pinellas" />
    
    <add key="file-enabled:pinellas" value="true" />
    <add key="file-source:polkCountySchoolBoard" value="Polk County School Board" />
    <add key="file-extension:polkCountySchoolBoard" value="xlsx" />
    <add key="file-company-name:polkCountySchoolBoard" value="Polk County School Board" />
    <add key="file-company-number:polkCountySchoolBoard" value="000083" />
    <add key="file-enabled:polkCountySchoolBoard" value="true" />
    <add key="file-source:sarasotaCounty" value="Sarasota County" />
    <add key="file-extension:sarasotaCounty" value="xls" />
    <add key="file-company-name:sarasotaCounty" value="Sarasota County" />
    <add key="file-company-number:sarasotaCounty" value="SC0100" />
    <add key="file-enabled:sarasotaCounty" value="true" />
    <!--<add key="file-source" value="E:\Temp\Client Import\City of Boca Raton\BOCA20150227.xlsx"/>-->
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Es.Logging" publicKeyToken="776b289507df5578" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.0.4.0" newVersion="0.0.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>