<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net"/>
  </configSections>
  <log4net>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="LogFileAppender" />
    </root>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender" >
      <param name="File" value="log-file.txt" />
      <param name="AppendToFile" value="false" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
  </log4net>

  <appSettings>
    <add key="file-destination" value="c:\temp"/>
    
    <add key="file-source:boca" value="E:\Temp\Client Import\City of Boca Raton\"/>
    <add key="file-extension:boca" value="xlsx"/>
    <add key="file-company-name:boca" value="Boca"/>
    <add key="file-company-number:boca" value="123"/>

    <add key="file-source:baptistHealth" value="E:\Temp\Client Import\BaptistHealthJax\"/>
    <add key="file-extension:baptistHealth" value="txt"/>
    <add key="file-company-name:baptistHealth" value="Baptist Health"/>
    <add key="file-company-number:baptistHealth" value="123"/>

    <add key="file-source:cityOfMelbourne" value="E:\Temp\Client Import\City of Melbourne\"/>
    <add key="file-extension:cityOfMelbourne" value="xls"/>
    <add key="file-company-name:cityOfMelbourne" value="City of Melbourne"/>
    <add key="file-company-number:cityOfMelbourne" value="123"/>


    <add key="file-source:leeCounty" value="E:\Temp\Client Import\LeeCountySB\"/>
    <add key="file-extension:leeCounty" value="dat"/>
    <add key="file-company-name:leeCounty" value="Lee County School Board"/>
    <add key="file-company-number:leeCounty" value="123"/>

    
    <!--<add key="file-source" value="E:\Temp\Client Import\City of Boca Raton\BOCA20150227.xlsx"/>-->
  </appSettings>
</configuration>